.myPage {
    background-color: rgb(230, 235, 235);
}

.cardSet{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 20px;
}

.card1 {
    background-color: green;
    width: 320px;
    height: 190px;
}


.card2 {
    background-color: green;
    width: 320px;
    height: 190px;
}


.card3 {
    background-color: green;
    width: 320px;
    height: 190px;
}

.cardNumber {
    background-color: transparent;
    margin-top: 130px;
    margin-left: 10px;
}

.number {
    background-color: transparent;
    margin-left: 10px;
    padding-right: 5px;
    margin-right: 5px;
}

.money {
    background-color: transparent;
    margin-right: 10px;
}