@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

.myPage {
    background-color: rgb(230, 235, 235);
}

.forFont {
    background-color: transparent;
    font-family: 'Michroma', sans-serif;
}

.cardSet{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 20px;
}

.card {
    background-color: whitesmoke;
    width: 320px;
    height: 190px;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);


}


.cardNumber {
    background-color: transparent;
    font-family: 'Michroma', sans-serif;
    margin-top: 90px;
    margin-left: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.number {
    background-color: transparent;
    font-family: 'Michroma', sans-serif;
    font-size: 10px;
    color: grey;
    margin-left: 10px;
    padding-right: 5px;
    margin-right: 5px;
}

.money {
    background-color: transparent;
    font-family: 'Michroma', sans-serif;
    font-weight: bold;
    font-size: 12px;
    margin-right: 10px;
}

.lineDisplay {
    display: flex;
    justify-content: space-between;
}

.cardLogo {
    height: 30px;
    width: 40px;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 8px;
}